<div class="state-analysis">
	<h1>Analysis of <strong>Tourism</strong> category in <strong>Cyprus</strong></h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem, commodi dolorem illum incidunt mollitia natus necessitatibus perspiciatis quidem veritatis. Ab aliquid asperiores cupiditate doloremque earum eum laboriosam, quo sapiente!</p>

	<input type="text" class="form-control search-box" placeholder="Search for a chart.." ng-model="searchFor">

	<div class="row">
		<widget-component config="chart" ng-repeat="chart in charts | filter:{ title: searchFor }"></widget-component>
	</div>
</div>