<div class="state-analysis">
	<h1>Mouflon View gives you Powerful Insights of <strong>Tourism</strong> Category in <strong>Cyprus</strong></h1>

	<input type="text" class="form-control search-box" placeholder="Search for a chart.." ng-model="searchFor">

	<h2>Arrivals Analytics</h2>
	<div class="row">
		<widget-component config="chart" ng-repeat="chart in chartsArrivals | filter:{ title: searchFor }"></widget-component>
	</div>

	<h2>Expenditure Analytics</h2>
	<div class="row">
		<widget-component config="chart" ng-repeat="chart in chartsExpenditure | filter:{ title: searchFor }"></widget-component>
	</div>
</div>