<!DOCTYPE html>
<html ng-app='MouflonView' lang="en" ng-strict-di>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mouflon View">
	<meta name="keywords" content="Mouflon View">

	<title>Mouflon View | <%= title %></title>

	<link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css' />

	<link rel='stylesheet' href='/stylesheets/app/style.css' />
</head>
<body>
	<div ui-view=""></div>

	<script type="text/javascript" src='/vendor/angular/angular.js'></script>
	<script type="text/javascript" src='/vendor/angular-ui-router/release/angular-ui-router.js'></script>
	<script type="text/javascript" src='/vendor/highcharts/highcharts.js'></script>
	<script type="text/javascript" src='/vendor/highcharts-ng/dist/highcharts-ng.js'></script>

	<script type="text/javascript" src='/javascripts/app/app.js'></script>
	<script type="text/javascript" src='/javascripts/app/config.js'></script>
	<script type="text/javascript" src='/javascripts/app/run.js'></script>
	<script type="text/javascript" src='/javascripts/app/controllers/homeController.js'></script>
</body>
</html>
