<!DOCTYPE html>
<html lang="en" ng-app="MouflonView" ng-strict-di>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mouflon View">
	<meta name="keywords" content="Mouflon View">

	<title>Mouflon View | <%= title %></title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700">
	<link rel='stylesheet' href='/vendor/font-awesome/css/font-awesome.min.css'>
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="/stylesheets/index/style.css">
</head>
<body ng-controller="HomeController as home">
	<div class="state-home">
		<div class="center-container">
			<h1>Mouflon View</h1>
			<h4>May the data beee with you</h4>
			<br><br>

			<button class="btn btn-human" ng-click="home.scrollTo('state-about')">
				Human
			</button>
			<button class="btn btn-developer" ng-click="home.scrollTo('state-how-it-works--dev')">
				Developer
			</button>
		</div>
		<div class="bouncing-arrow">
			<i class="fa fa-4x fa-angle-down"></i>
		</div>
	</div>

	<div class="state-about">
		<div class="container">
			<h1>What is Mouflon View?</h1>
			<br><br>

			<div>
				<h3>
					The worldwide leader for Open Data Analytics
				</h3>
				<p>
					“Our insight solutions and precise recommendations will create the impact your business needs.”
				</p>
			</div>
			<br><br>

			<div class="text-right">
				<h3>
					The most advanced open Data Analytics
				</h3>
				<p>
					Our goal is to turn data into information and information into Insight.
					<br>
					Our expert analysts create insights that matter and generate a better understanding of industry trends and opportunities.
				</p>
			</div>
			<br><br>

			<div>
				<h3>
					Transfer raw Data to Meaningful KPIs
				</h3>
				<p>
					Transform incomprehensive raw data to a vast array of stunning visualizations to ensure your data is presented in the most meaningful and engaging way.
				</p>
			</div>
			<br><br>
		</div>
	</div>

	<div class="state-how-it-works">
		<div class="container">
			<h1 class="text-center">B2B Solution</h1>
			<br>

			<div class="row">
				<div class="col-md-6">
					<p>Mouflon Views offers descriptive analytics to business-to-business organizations. The company provides comprehensive analytics to a wide range of sectors, such as energy, healthcare, financial and Tourism</p>
					<div class="text-center">
						<a href="/app">
							<button class="btn btn-success">
								Show my what you've got
							</button>
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<h3 class="text-center">Tourism Industry</h3>
					<ul>
						<li>C.T.O</li>
						<li>Hotels</li>
					</ul>
					<i>**In the scope of the weekend hackathon</i>
					<br>
				</div>
			</div>
			<br><br><br>

			<div class="row">
				<div class="col-md-6 text-center">
					<h4>Before MouflonView</h4>
					<br>
					<img src="/images/before.png" alt="">
				</div>
				<div class="col-md-6 text-center">
					<h4>After MouflonView</h4>
					<br>
					<img src="/images/after.png" alt="">
				</div>
			</div>
			<br><br>

			<h2 class="text-center">Pricing</h2>
			<br>
			<div class="row pricing-row">
				<div class="col-md-4">
					<img src="/images/free.png" alt="">
				</div>
				<div class="col-md-4">
					<img src="/images/pro.png" alt="">
				</div>
				<div class="col-md-4">
					<img src="/images/premium.png" alt="">
				</div>
			</div>
			<br><br>

			<div class="text-center">
				<a href="/app">
					<button class="btn btn-success">
						Show my what you've got
					</button>
				</a>
			</div>
		</div>
	</div>

	<div class="state-how-it-works--dev">
		<div class="container">
			<h1 class="heading text-center">
				**Warning** Awesome Developer Only Section
			</h1>
			<div class="row">
				<div class="col-md-6 text-center">
					<img src="https://www.gcx.io/api/images/peer.png" alt="API Image">
				</div>
				<div class="col-md-6">
					<div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem hic inventore totam. Explicabo optio perspiciatis quo! A animi atque corporis eius incidunt ipsam omnis quae quo repellat reprehenderit. Corporis, deleniti.</p>
						<i>**You are awesome, you don't need a description</i>
					</div>
					<br>

					<a href="/api/docs">
						<button class="btn btn-primary">
							Dive in
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="state-team">
		<div class="container text-center">
			<h1 class="heading">
				Dreeeam Teeeam
			</h1>
			<div class="row">
				<div class="col-md-3" ng-repeat="member in home.team">
					<div>
						<img ng-src="{{member.image}}" alt="{{member.name}}">
					</div>
					<br>
					<h4 class="text-center" ng-bind="member.name"></h4>
					<strong ng-bind="member.headline"></strong>
					<p>
						<i ng-bind="member.role"></i>
					</p>
					<!--<a target="_blank" ng-href="{{member.linkedin}}">-->
						<!--<i class="fa fa-linkedin"></i>-->
					<!--</a>-->
				</div>
			</div>
		</div>
	</div>

	<footer class="text-center">
		<i>
			Made with <i class="fa fa-heart"></i>
			<br>
			<small><i class="fa fa-copyright"></i> Mouflon View 2016</small>
		</i>
	</footer>

	<script type="text/javascript" src='/vendor/angular/angular.js'></script>
	<script type="text/javascript" src='/vendor/angular-scroll/angular-scroll.js'></script>
	<script type="text/javascript" src='/javascripts/index/app.js'></script>
</body>
</html>
