<!DOCTYPE html>
<html lang="en" ng-app="MouflonView" ng-strict-di>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mouflon View">
	<meta name="keywords" content="Mouflon View">

	<title>Mouflon View | <%= title %></title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700">
	<link rel='stylesheet' href='/vendor/font-awesome/css/font-awesome.min.css'>
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="/stylesheets/index/style.css">
</head>
<body ng-controller="HomeController as home">
	<div class="state-home">
		<div class="center-container">
			<h1>Mouflon View</h1>
			<h4>Watching be-fore you!</h4>
			<button ng-click="home.scrollTo('state-about')">
				Regular
			</button>
			<button ng-click="home.scrollTo('state-how-it-works--dev')">
				Developer
			</button>
		</div>
		<div class="bouncing-arrow">
			<i class="fa fa-4x fa-angle-down"></i>
		</div>
	</div>

	<div class="state-about">
		<div class="container">
			<h1>What is Mouflon View?</h1>
			<div class="row">
				<div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem hic inventore totam. Explicabo optio perspiciatis quo! A animi atque corporis eius incidunt ipsam omnis quae quo repellat reprehenderit. Corporis, deleniti.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="state-how-it-works">
		<div class="container text-right">
			<h1>How does it work?</h1>
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem hic inventore totam. Explicabo optio perspiciatis quo! A animi atque corporis eius incidunt ipsam omnis quae quo repellat reprehenderit. Corporis, deleniti.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="state-how-it-works--dev">
		<div class="container">
			<h1>How does it work (developer)?</h1>
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem hic inventore totam. Explicabo optio perspiciatis quo! A animi atque corporis eius incidunt ipsam omnis quae quo repellat reprehenderit. Corporis, deleniti.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="state-team">
		<div class="container">
			<h1 class="team"></h1>
			<div class="row">
				<div class="col-md-3" ng-repeat="member in home.team">
					<div>
						<img ng-src="{{member.image}}" alt="{{member.name}}">
					</div>
					<h3 ng-bind="member.name"></h3>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src='/vendor/angular/angular.js'></script>
	<script type="text/javascript" src='/vendor/angular-scroll/angular-scroll.js'></script>
	<script type="text/javascript" src='/javascripts/index/app.js'></script>
</body>
</html>
