<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mouflon View">
	<meta name="keywords" content="Mouflon View">

	<title>Mouflon View | <%= title %></title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700">
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="/stylesheets/index/style.css">
</head>
<body>
	<div class="center-container">
		<h1>Welcome to Mouflon View!</h1>
		<h3>Watching be-fore you</h3>
	</div>
</body>
</html>
