body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	background-color: #f7f7f7;
}

.search-box{
	margin: 2em 0;
	border-radius: 15px;
}

.endpoint{
	border-bottom: 2px solid;
	margin-bottom: 2em;

	&.endpoint-last{
		border-bottom: none;
	}
}

.try-button{
	margin: 0 1em;
	padding: .25em .5em;
	font-size: 10px;
	vertical-align: bottom;
}

.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }