.widget-component{
	padding: 1em;
	color: $wc-color;
	border: none !important;

	.wc__box{
		padding: 1em;
		border: 3px solid $wc-box-border-color
	}

	hr{
		border: 3px solid $wc-hr-border-color;
	}
	.wc__heading{
		padding: .25em;
	}

	.wc__body-wrapper{
		padding: 1em;
	}
}