@import "compass/css3";
@import "../../vendor/bootstrap/scss/bootstrap.scss";

@import "variables";

@import "state-home";
@import "state-analysis";

@import "widget-component";

body {
	height: 100vh;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.navbar-default{
	background-color: $nav-bg-color;
	border-radius: 0;
	border: 0;

	.navbar-brand{
		&, &:hover, &:active{
			color: $nav-color !important;
		}
	}
}

[ng-click], [ui-stef]{
	cursor: pointer;
}

.text-center{
	text-align: center;
}